.linkedin:hover::after{
    position: absolute;
    content: 'LinkedIn';
    color: rgb(202, 202, 202);
    margin-top: -4.3rem;
    margin-left: -1.4rem;
    background-color: rgb(34, 34, 34);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 0.9vw;
}
.github:hover::after{
    position: absolute;
    content: 'GitHub';
    color: rgb(202, 202, 202);
    margin-top: -4.3rem;
    margin-left: -1.1rem;
    background-color: rgb(34, 34, 34);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 0.9vw;
}
.insta:hover::after{
    position: absolute;
    content: 'Instagram';
    color: rgb(202, 202, 202);
    margin-top: -4.3rem;
    margin-left: -1.7rem;
    background-color: rgb(34, 34, 34);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 0.9vw;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 60px -4px rgb(0, 66, 247);
} 

@media (max-width: 768px) { 
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -4px 15px -4px rgb(0, 66, 247);
    }
}
@media (min-width: 800px) and (max-width: 1366px) {
    .linkedin:hover::after{
        position: absolute;
        content: 'LinkedIn';
        color: rgb(202, 202, 202);
        margin-top: -3.3rem;
        margin-left: -1.4rem;
        background-color: rgb(34, 34, 34);
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 0.9vw;
    }
    .github:hover::after{
        position: absolute;
        content: 'GitHub';
        color: rgb(202, 202, 202);
        margin-top: -3.3rem;
        margin-left: -1.1rem;
        background-color: rgb(34, 34, 34);
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 0.9vw;
    }
    .insta:hover::after{
        position: absolute;
        content: 'Instagram';
        color: rgb(202, 202, 202);
        margin-top: -3.3rem;
        margin-left: -1.7rem;
        background-color: rgb(34, 34, 34);
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 0.9vw;
    }
}